.navigation_xs {
  font-size: var(--font-size-s);
}

.navigation_s {
  font-size: var(--font-size-m);
}

.navigation_m {
  font-size: var(--font-size-l);
}

.navigation_l {
  font-size: var(--font-size-xl);
}

.navigation_xl {
  font-size: var(--font-size-xl);
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-half);
}

.navigation__item {
}

.navigation__itemLink {
  width: 100%;
  display: block;
  border-radius: var(--radius-regular);
  padding: var(--gap);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color var(--transition), box-shadow var(--transition);
}

.navigation__itemLink:hover {
  background-color: var(--hover-color);
}

.navigation__itemLink:focus-visible {
  outline: none;
  box-shadow: var(--box-shadow-focus);
  background-color: var(--hover-color);
}

.navigation__itemLink_active {
  background-color: var(--hover-color);
}
