.textboxWrapper {
  background-color: var(--input-background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-regular);
  padding-block: var(--gap);
  padding-inline-start: var(--gap);
  padding-inline-end: var(--gap-half);
  width: 100%;
}

.textboxWrapper:focus-within {
  box-shadow: var(--box-shadow-focus);
}

.textboxWrapper_invalid {
  border: 1px solid var(--border-error);
}

.textboxWrapper_invalid:focus-within {
  border: 1px solid var(--border-color);
  box-shadow: var(--input-box-shadow-error-focus);
}

.textboxWrapper_readOnly {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}

.textboxWrapper_readOnly:focus-within {
  box-shadow: none;
}

.textbox {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding-inline-end: var(--gap-half);
  outline: none;
  transition: box-shadow var(--transition);
  width: 100%;
  font-family: var(--font-family-body);
  resize: none;
  max-height: calc(24px * 5);
}

.textbox::placeholder {
  color: var(--text-color-disabled);
}

.textbox::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.textbox::-webkit-scrollbar-track {
  background-color: transparent;
}

.textbox::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
  height: 64px;
}

.textbox_readOnly {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: auto;
  padding: 0;
  cursor: default;
  user-select: none;
}
