:root {
  --grid-column-min-width: '320px';
}

.gridAutoFit {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-column-min-width), 100%), 1fr)
  );
  gap: var(--gap-double);
}

.gridFullWidth {
  grid-column: 1 / -1;
  grid-row: span 1;
}
