.multiLanguage__item {
    width: 100%;
}

.multiLanguage__hiddenWrapper {
    display: grid;
    gap: 1rem;
    padding-top: 1rem;
}

.multiLanguage__switcher {
    min-width: 76px;
    text-align: center;
}
