.heading-1 {
  font-size: var(--font-size-head-1);
}

.heading-2 {
  font-size: var(--font-size-head-2);
}

.heading-3 {
  font-size: var(--font-size-head-3);
}

.heading-4 {
  font-size: var(--font-size-head-4);
}

.heading-5 {
  font-size: var(--font-size-head-5);
}

.heading-6 {
  font-size: var(--font-size-head-6);
}
