.overlay {
    background-color: var(--foreground);
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(2px);
    /*animation: blur-in 225ms 0s forwards; */
}

.overlay_pointer {
    cursor: pointer;
}

/*@keyframes blur-in {*/
/*    from {*/
/*        backdrop-filter: blur(0px);*/
/*    }*/
/*    to {*/
/*        backdrop-filter: blur(2px);*/
/*    }*/
/*}*/