.categoryDetail__menuButton path {
  fill: var(--text-color);
}

.categoryDetail__actionButton_delete {
  color: var(--button-variant-text);
  background-color: var(--danger-500);
  text-align: center;
}

.categoryDetail__actionButton_delete:hover {
  background-color: var(--danger-600);
}

.categoryDetail__hierarchySection {
  margin-top: var(--gap);
}