.collapseHeader {
  display: flex;
  align-items: center;
  gap: var(--gap);
  justify-content: space-between;
}

.collapseHeader_toggleable {
  cursor: pointer;
}

.collapseButton path {
  fill: var(--text-color);
}

.collapseButton,
.collapseButton:hover,
.collapseButton:focus-visible {
  padding: 0;
  background-color: transparent;
  border: none;
}

.collapseBody {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0;
}
