.collapseHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collapseButton path {
  fill: var(--text-color);
}

.collapseButton {
  background-color: transparent;
  border: none;
}

.collapseBody {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0;
}
