.collapse {
}

.collapse__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collapse__headerContent {
  width: 100%;
}

.collapse__switcher path {
  fill: var(--text-color);
}

.collapse__switcher {
  background-color: transparent;
  border: none;
}

.collapse__body {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: 0;
}
