.tableForeground {
  padding: 0;
}

.table {
  font-size: var(--font-size-regular);
}

.table__header {
  color: var(--foreground-700);
  border-bottom: 1px solid var(--border-color);
}

.table__headerRow {
  display: flex;
  align-items: center;
}

.table__headerItem {
  padding-block: 1em;
  padding-inline: 1em;
}

.table__body a {
  text-decoration: none;
  color: var(--text-color);
}

.table__row {
  display: flex;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  align-items: center;
}

.table__row:hover {
  background-color: var(--hover-color);
}

.table__row:last-child {
  border-bottom: none;
}

.table__row:focus-visible {
  outline: none;
  box-shadow: var(--input-box-shadow-focus);
  background-color: var(--hover-color);
}

.table__row:last-child:focus-visible,
.table__row:last-child:hover {
  border-bottom-right-radius: var(--radius-regular);
  border-bottom-left-radius: var(--radius-regular);
}

.table__cell {
  display: flex;
  padding-block: 1em;
  padding-inline: 1em;
}
