.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--gap);
}

.top__heading {
  display: flex;
  align-self: flex-start;
}

.top__buttons {
  display: flex;
  align-self: flex-end;
}
