.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}

.top__heading {
  display: flex;
}

.top__buttons {
  display: flex;
  width: 100%;
  justify-content: end;
}
