.generator__attributesRow {
  border-bottom: 1px solid var(--border-color);
}

.generator__attributesRow:first-of-type {
  border-top: 1px solid var(--border-color);
}

.generator__attributesName {
  padding: var(--gap);
  font-size: var(--font-size-s);
}

.generator__variants {
  display: flex;
  flex-wrap: wrap;
  gap: var(--checkboxSize);
  padding: var(--gap);
  border-top: 1px solid var(--border-color);
}

.generator__noVariants {
  font-size: var(--font-size-s);
  margin: 0 auto;
}

.generatedProduct__fieldGroup {
  padding: var(--gap) 0;
  border-bottom: 1px solid var(--border-color);
}

.generatedProduct__fieldGroup:first-of-type {
  padding-top: 0;
}

.generatedProduct__tagsTitle {
  margin-bottom: var(--gap-half);
}

.generatedProduct__tags {
  display: flex;
  gap: var(--gap-half);
}
