.generator__attributes {
  display: flex;
  column-gap: var(--gap);
  flex-wrap: wrap;
  font-size: var(--font-size-s);
}

.generator__attributesRow {
  border-bottom: 1px solid var(--border-color);
  flex: 1 0 calc(50% - var(--gap));
}

.generator__attributesName {
  padding: var(--gap);
}

.generator__variants {
  display: flex;
  flex-wrap: wrap;
  gap: var(--checkboxSize);
  padding-inline: var(--gap);
  padding-block-end: var(--gap);
}

.generator__noVariants {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.generatedProduct__fieldGroup {
  padding: var(--gap) 0;
  border-bottom: 1px solid var(--border-color);
}

.generatedProduct__fieldGroup:first-of-type {
  padding-top: 0;
}

.generatedProduct__tagsTitle {
  margin-bottom: var(--gap-half);
}

.generatedProduct__tags {
  display: flex;
  gap: var(--gap-half);
}
