:root {
    --aside-width: 250px;
}

.mainWrapper {
    display: grid;
    grid-template-columns: var(--aside-width) auto;
    grid-template-areas: "aside main";
    direction: ltr;
    height: 100%;
}

.aside {
    border-right: 1px solid var(--border);
    background-color: var(--foreground);
    box-shadow: var(--shadow-5);
    height: 100%;
    flex: 0 0 auto;
    padding: 24px 16px;
    grid-area: aside;
}

.aside__logo {
    height: 48px;
    margin-bottom: 56px;
}

.main {
    padding: 64px 80px;
    width: 100%;
    grid-area: main;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}
