:root {
  --content-width: 2000px;
}

.mainWrapper {
  display: grid;
  grid-template-columns: var(--sidebar-widh) minmax(320px, auto);
  grid-template-areas: 'aside main';
  direction: ltr;
  height: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.aside {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background-color: var(--foreground);
  box-shadow: var(--shadow-5);
  height: 100%;
  padding-block: 2.5rem;
  padding-inline: 1rem;
  grid-area: aside;
}

.main {
  padding: 2.5rem;
  grid-area: main;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

.mainPublicWrapper {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 650px) 1fr;
  grid-template-areas:
    '. .... .'
    '. main .'
    '. .... .'
  ;
  direction: ltr;
  height: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.mainPublic {
  grid-area: main;
}
