:root {
    --aside-width: 250px;
}

.mainWrapper {
    display: flex;
    direction: ltr;
    height: 100%;
}

.aside {
    border-right: var(--border);
    background-color: var(--foreground);
    box-shadow: var(--shadow-5);
    width: var(--aside-width);
    height: 100%;
    flex: 0 0 auto;
    padding: 24px 16px;
    position: fixed;
}

.aside__logo {
    height: 48px;
    margin-bottom: 56px;
}

.mainContent {
    padding: 64px 80px;
    width: 100%;
    margin-left: var(--aside-width);
}
