.dropdownWrapper {
  position: relative;
  min-width: 5.5em;
}

.dropdown {
  background-color: var(--input-background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-regular);
  padding: var(--gap);
  color: var(--text-color);
  outline: none;
  transition: box-shadow var(--transition);
  width: 100%;
  font-family: var(--font-family-body);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-half);
}

.dropdown_xs {
  font-size: var(--font-size-xs);
}

.dropdown_s {
  font-size: var(--font-size-s);
}

.dropdown_m {
  font-size: var(--font-size-m);
}

.dropdown_l {
  font-size: var(--font-size-l);
}

.dropdown_xl {
  font-size: var(--font-size-xl);
}

.dropdown:focus-visible {
  box-shadow: var(--box-shadow-focus);
}

.dropdown_noValue {
  color: var(--text-color-disabled);
}

.dropdown_invalid {
  border: 1px solid var(--border-error);
  color: var(--text-error);
}

.dropdown_invalid:focus-visible {
  box-shadow: var(--input-box-shadow-error-focus);
}

.dropdown_readOnly {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: auto;
  padding: 0;
  cursor: default;
}

.dropdownEmptyValue {
  color: transparent;
  user-select: none;
}

.dropdownIcon {
  display: flex;
  align-items: center;
}

.dropdownListWrapper {
  background-color: var(--input-background-absolute-hack);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-5);
  border-radius: var(--radius-regular);
  padding-block: var(--gap);
  padding-inline-start: var(--gap);
  padding-inline-end: var(--gap-half);
  overflow: hidden;
  position: absolute;
  min-width: 100%;
  z-index: 1;
  margin-top: var(--gap-half);
}

.dropdownList {
  padding-inline-end: var(--gap-half);
  max-height: 200px;
  overflow: auto;
}

.dropdownList_xs {
  font-size: var(--font-size-xs);
}

.dropdownList_s {
  font-size: var(--font-size-s);
}

.dropdownList_m {
  font-size: var(--font-size-m);
}

.dropdownList_l {
  font-size: var(--font-size-l);
}

.dropdownList_xl {
  font-size: var(--font-size-xl);
}

.dropdownList::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.dropdownList::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdownList::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
  height: 64px;
}

.dropdownList__item {
  cursor: pointer;
  padding: var(--gap);
  border-radius: var(--radius-regular);
  user-select: none;
}

.dropdownList__item_focus,
.dropdownList__item:hover {
  background-color: var(--hover-color);
}
