.moduleDetail__menuButton path {
  fill: var(--text-color);
}

.moduleDetail__actionButton_delete {
  color: var(--button-variant-text);
  background-color: var(--danger-500);
  text-align: center;
}

.moduleDetail__actionButton_delete:hover {
  background-color: var(--danger-600);
}