.supplyProducts__title {
  margin-top: var(--gap);
}

.supplyProducts__listItem {
}

.supplyProducts__listItem:hover {
  background-color: transparent;
  cursor: initial;
}

.supplyProducts__listItemOrder {
  color: var(--text-color-dimmed);
  font-size: var(--font-size-s);
}

.supplyProducts__summary {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
}

.supplyProducts__summaryItem {
  box-sizing: content-box;
}

.supplyProducts__duplications {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.supplyProducts__duplicationsList {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  padding: revert;
}

.supplyProducts__actionButton {
  display: flex;
}

.supplyProducts__actionButton path {
  fill: var(--text-color);
}
