.foreground {
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-5);
  border-radius: var(--radius-regular);
  background-color: var(--foreground);
  margin-top: 1.5em;
  padding: 1.5em;
}

.foreground__placeholder {
  text-align: center;
}
