.inputWrapper {
  display: grid;
  justify-items: end;
  align-items: center;
  width: 100%;
}

.input {
  background-color: var(--input-background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-regular);
  font-size: var(--font-size-m);
  padding: 0.85em;
  color: var(--text-color);
  outline: none;
  transition: box-shadow var(--transition);
  width: 100%;
  font-family: var(--font-family-body);
  grid-column: 1/2;
  grid-row: 1/2;
}

.input_s {
  font-size: var(--font-size-s);
}

.input_xs {
  font-size: var(--font-size-xs);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus-visible {
  box-shadow: var(--box-shadow-focus);
}

.input_invalid {
  border: 1px solid var(--border-error);
  color: var(--text-error);
}

.input_invalid:focus-visible {
  box-shadow: var(--input-box-shadow-error-focus);
}

.input::placeholder,
.input_disabled {
  color: var(--text-color-disabled);
}

.input_readOnly {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: auto;
  padding: 0;
  cursor: default;
  user-select: none;
}

.input_readOnly:focus-visible {
  box-shadow: none;
}

.input_readOnly::selection {
  background: transparent; /* Prevent auto-highlighting text on focus (only visual impact) */
}

.input_withIcon {
  padding-inline-end: 2.7em;
}

.input__icon {
  outline: none;
  grid-column: 1/2;
  grid-row: 1/2;
  box-sizing: initial;
  padding-inline: 0.85em;
}

.input__iconInteractive {
  outline: none;
  grid-column: 1/2;
  grid-row: 1/2;
  box-sizing: initial;
  padding-inline: 0.85em;
  cursor: pointer;
}

.input__icon path,
.input__iconInteractive path {
  opacity: 0.5;
  fill: var(--foreground-900);
}

.input__iconInteractive:hover path {
  opacity: 1;
}

.input__iconInteractive:focus-visible {
  padding-block: 0.55em;
  border-radius: var(--radius-regular);
  box-shadow: var(--box-shadow-focus);
}
