.input {
  background-color: var(--input-background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-regular);
  font-size: var(--font-size-regular);
  padding: 0.85em;
  color: var(--text-color);
  outline: none;
  transition: box-shadow var(--transition);
  width: 100%;
  font-family: var(--font-family-body);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus-visible {
  box-shadow: var(--input-box-shadow-focus);
}

.input_invalid {
  border: 1px solid var(--border-error);
  color: var(--text-error);
}

.input_invalid:focus-visible {
  box-shadow: var(--input-box-shadow-error-focus);
}

.input::placeholder {
  color: var(--text-color-disabled);
}

.input_readOnly {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: auto;
  padding: 0;
  cursor: default;
  user-select: none;
}

.input_readOnly:focus-visible {
  box-shadow: none;
}

.input_readOnly::selection {
  background: transparent; /* Prevent auto-highlighting text on focus (only visual impact) */
}
