:root {
  --primary-900: rgba(37, 157, 168, 1);
  --primary-800: rgba(37, 157, 168, 0.72);
  --primary-700: rgba(37, 157, 168, 0.48);
  --primary-600: rgba(37, 157, 168, 0.32);
  --primary-500: rgba(37, 157, 168, 0.19);
  --primary-400: rgba(37, 157, 168, 0.13);
  --primary-300: rgba(37, 157, 168, 0.08);
  --primary-200: rgba(37, 157, 168, 0.05);
  --primary-100: rgba(37, 157, 168, 0.03);

  --warning-900: rgba(252, 201, 88, 1);
  --warning-800: rgba(252, 201, 88, 0.72);
  --warning-700: rgba(252, 201, 88, 0.48);
  --warning-600: rgba(252, 201, 88, 0.32);
  --warning-500: rgba(252, 201, 88, 0.19);
  --warning-400: rgba(252, 201, 88, 0.13);
  --warning-300: rgba(252, 201, 88, 0.08);
  --warning-200: rgba(252, 201, 88, 0.05);
  --warning-100: rgba(252, 201, 88, 0.03);

  --danger-900: rgba(255, 134, 99, 1);
  --danger-800: rgba(255, 134, 99, 0.72);
  --danger-700: rgba(255, 134, 99, 0.48);
  --danger-600: rgba(255, 134, 99, 0.32);
  --danger-500: rgba(255, 134, 99, 0.19);
  --danger-400: rgba(255, 134, 99, 0.13);
  --danger-300: rgba(255, 134, 99, 0.08);
  --danger-200: rgba(255, 134, 99, 0.05);
  --danger-100: rgba(255, 134, 99, 0.03);

  --shadow-5: 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 32px 40px -2px rgba(0, 0, 0, 0.08);
  --shadow-4: 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 16px 16px -1px rgba(0, 0, 0, 0.08);
  --shadow-3: 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 6px 6px -1px rgba(0, 0, 0, 0.08);
  --shadow-2: 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 3px 3px -1px rgba(0, 0, 0, 0.08);
  --shadow-1: 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.08);
  --shadow-0: none;

  --sidebar-widh: 250px;

  --scrollbar-width: 4px;

  --input-box-shadow-error-focus: var(--danger-900) 0 0 0 0.2em;
  --checkboxSize: 1.65em;

  --transition: 0.15s ease-in-out 0s;

  --radius-tiny: 0.2em;
  --radius-small: 0.4em;
  --radius-regular: 0.6em;
  --radius-large: 0.8em;

  --font-family-body: 'Inter', serif;
  --font-family-head: 'Montserrat Medium', serif;

  --font-size-xs: 0.65rem;
  --font-size-s: 0.75rem;
  --font-size-m: 0.85rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.15rem;

  --font-size-head-1: 1.55em;
  --font-size-head-2: 1.35em;
  --font-size-head-3: 1.15em;
  --font-size-head-4: 0.95em;
  --font-size-head-5: 0.75em;
  --font-size-head-6: 0.55em;

  --text-error: var(--danger-800);
  --border-error: var(--danger-900);

  --gap-l: 1em;
  --gap: 0.85em;
  --gap-double: calc(var(--gap) * 2);
  --gap-half: calc(var(--gap) / 2);
  --gap-quater: calc(var(--gap) / 4);
}

[data-theme='dark'],
[data-theme='light'] {
  --background: var(--background-900);
  --foreground: var(--foreground-100);

  --text-color: var(--foreground-900);
  --text-color-secondary: var(--foreground-800);
  --text-color-dimmed: var(--foreground-700);
  --text-color-disabled: var(--foreground-600);

  --border-color: var(--foreground-400);

  --scrollbar-thumb-color: var(--foreground-700);

  --hover-color: var(--foreground-200);

  --input-background: var(--foreground-100);
  --button-regular-background: var(--foreground-800);
}
