html, body, #root {
    height: 100%;
    background-color: var(--background);
}

#theme-root {
    /*color-scheme: var(--scheme);*/
    color: var(--text);
    background-color: var(--background);
    transition: all 500ms;
    height: 100%;
}