html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

html {
  font-size: 16px;
}

#theme-root {
  /*color-scheme: var(--scheme);*/
  color: var(--text-color);
  background-color: var(--background);
  transition: all 500ms;
  height: 100%;
}
