.button {
  color: var(--text-color);
  text-decoration: none;
  border-radius: var(--radius-regular);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition);
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.71em 0.85em;
  font-size: var(--font-size-regular);
}

.button a {
  color: var(--text-color);
  text-decoration: none;
}

.button:focus-visible {
  box-shadow: var(--input-box-shadow-focus);
}

.button_s {
  font-size: var(--font-size-small);
}

.button_l {
  font-size: var(--font-size-large);
}

.button_xl {
  font-size: var(--font-size-xl);
}

.button_regular {
  color: var(--background-900);
  background-color: var(--button-regular-background);
}

.button_primary {
  color: var(--button-variant-text);
  background-color: var(--primary-900);
}

.button_primary:hover {
  background-color: var(--primary-800);
}

.button_success {
  color: var(--button-variant-text);
  background-color: var(--success-900);
}

.button_warning {
  color: var(--button-variant-text);
  background-color: var(--warning-900);
}

.button_danger {
  color: var(--button-variant-text);
  background-color: var(--danger-900);
}

.button_theme {
  background-color: var(--input-background);
  outline: 1px solid var(--border-color); /* avoid additional height by regular border property */
}

.buttonsGroup {
  display: flex;
  gap: 0.5rem;
}
